@using BlazorZXingJs

@inject AppState appState
@inject NavigationManager NavManager

<h3>QRGenerator</h3>

<div class="row m-1">
    <textarea @bind="@msg" style="height:300px" @oninput="@((e) => { msg=(string)e.Value;})" />
</div>

<div class="row m-1">
    <button class="btn btn-primary" @onclick="@GenerateQR">Generate QR Code</button>
</div>

@code
{
    private String msg = "";

    void GenerateQR()
    {
        appState.CapturedMessage = msg;
        NavManager.NavigateTo("/qr");
    }
}